# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
dist/
*.egg-info/

# Node.js
node_modules/
.npm/

# Terraform
.terraform/
*.tfstate*
.terraform.lock.hcl

# CDK
cdk.out/
.cdk.staging/

# Docker
.docker/

# Kubernetes
*.kubeconfig

# Helm
charts/*/charts/
*.tgz

# IDE/OS files
.idea/
.vscode/
.DS_Store
*.swp

# Android
*.apk
*.aar
*.so
build/
.gradle/
local.properties
captures/
*.jks

# Secrets
.env
